

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  background-color: #ffffff;
  line-height: 1.5;

}
img {
  max-width: 100%;

}

a {
  text-decoration: none;

}

button,
input,
textarea,
select {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}




.justify-center {
  justify-content: center;
}
/* =========================================================
   FIGMA LOCATION MARKER
========================================================= */

.custom-location-marker {
  background: transparent !important;
  border: none !important;
}

.location-marker {
  width: 32px;
  height: 42px;
  position: relative;
}

.location-marker-pin {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 3px;
  top: 0;

  background: #4a9fd8;
  border: 2px solid #ffffff;
  border-radius: 50% 50% 50% 0;

  transform: rotate(-45deg);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.location-marker-dot {
  position: absolute;

  width: 8px;
  height: 8px;

  left: 12px;
  top: 9px;

  background: #ffffff;
  border-radius: 50%;

  z-index: 2;
}
